$primary-layout: #1e1f23;
$secondary-layout: #fd6600;
$primary-color: white;
$secondary-color: #6b7280;
$fond: #f5f6f9;

:export {
    primary_layout: $primary-layout;
    secondary_layout: $secondary-layout;
    primary_color: $primary-color;
    secondary_color: $secondary-color;
    fond: $fond;
}