$primary-layout: #1e1f23;
$secondary-layout: rgb(253,102,0);
$primary-color: white;

:export {
    primary_layout: $primary-layout;
    secondary_layout: $secondary-layout;
    primary_color: $primary-color;
}