@import '../../assets/scss/vars.module.scss';

.Modal {
    z-index: 1;
    box-sizing: border-box;
    // animation: opac 0.25s ease-in-out;

    div[class~="Modal__content"] {
        box-sizing: inherit;
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);

        header[class~="Modal__content__header"] {
            font-size: 1.25rem;
            font-weight: bold;

            button[class~="Modal__content__header__close"] {
                transition-duration: 0.25s;

                &:hover {
                    opacity: 1 !important;
                }
            }
        }

        *[class~="Modal__content__body"] {
            max-height: inherit;
            overflow: auto;
        }

        div[class~="Modal__content__loader"] {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: $secondary-layout;
            border-radius: calc(0.5rem - 2px);
            background-color: rgba(white, 0.5);

            & > svg {
                filter: drop-shadow(0.06125rem 0.06125rem 0.06125rem $secondary-color);
            }
        }
    }
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}