@import '@/assets/scss/vars.module.scss';

$border-radius: 0.25rem;
$borderColorThead: darken($fond, 5);
$theadColor: $secondary-color;
$tbodyColor: $theadColor;
$borderColorTbody: $fond;
$secondaryRowBackground: darken($fond, 2.5);

.TableContainer {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    font-size: 0.85rem;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
        border-radius: 2rem;
        // background-color: rgba(#FFFFFF, 0.125);
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        border: 0.125rem solid transparent;
        background-clip: content-box;
        background-color: darken($fond, 10);
    }

    table {
        max-height: 100%;
        width: 100%;
        border-radius: inherit;

        thead {
            position: sticky;
            top: 0;
            color: $theadColor;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            user-select: none;
            background-color: $borderColorThead;

            tr {
                border-top: 0.06125em solid transparent;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
                // box-shadow: 0 -0.06125em transparent;

                th {
                    position: relative;
                    border-right: 0.06125em solid transparent;
                    // box-shadow: -0.06125em 0 transparent;
                    background-color: $fond;
                    font-weight: normal;
                    padding: 0.5em;
                    line-height: 1em;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -0.125em;
                        right: -0.125em;
                        bottom: 0;
                        left: -0.125em;
                        background-color: $borderColorThead;
                        z-index: -1;
                    }
                }

                &:first-child {
                    border-top: none;

                    th:first-child {
                        border-top-left-radius: $border-radius;

                        &::before {
                            top: calc($border-radius * 2);
                            left: calc($border-radius * 2);
                        }
                    }

                    th:last-child{
                        border-top-right-radius: $border-radius;

                        &::before {
                            top: calc($border-radius * 2);
                            right: calc($border-radius * 2);
                        }
                    }
                }
            }

            &:has(tr:nth-child(2)) {
                tr:first-child th:last-child {
                    border-right: none;
                }
            }
        }

        th, td:not(:has(:nth-child(1))) {
            padding: 0.25em 0.5em;
        }

        th > div > svg {
            width: 0.75rem;
            height: 0.75rem;
        }

        tbody {
            tr {
                border-bottom: 0.06125em solid $borderColorTbody;

                &:nth-child(2n+1) {
                    background-color: rgba($fond, 0.25);
                }

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: rgba($fond, 0.75);

                    td {
                        border-right: 0.06125em solid $borderColorThead;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }

                td {
                    border-right: 0.06125em solid $borderColorTbody;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        tfoot {
            position: sticky;
            bottom: 0;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            color: $theadColor;
            user-select: none;
            background-color: $fond;

            tr {
                position: relative;
                border-right: 0.06125em solid transparent;

                &::after {
                    content: '';
                    position: absolute;
                    top: -0.125em;
                    right: -0.125em;
                    bottom: 0;
                    left: -0.125em;
                    background-color: $borderColorThead;
                    z-index: -1;
                }
            }
        }
    }
}