@import '@/assets/scss/vars.module.scss';

$border-radius: 0.25rem;

.TableContainer {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    font-size: 0.85rem;
    overflow: hidden;

    table {
        max-height: 100%;
        width: 100%;
        border-radius: inherit;
        background-color: white;
        overflow-y: scroll;
        border-collapse: collapse;

        thead {
            position: sticky;
            top: 0;
            color: $primary-color;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            user-select: none;

            tr {
                border-top: 0.06125em solid $primary-color;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;

                th {
                    border-right: 0.06125em solid $primary-color;
                    background-color: $primary-layout;
                    font-weight: normal;
                    padding: 0.25em 0.5em;
                    line-height: 1em;

                    /* &:last-child, &:empty {
                        border-right: none;
                    }

                    // Selecting not empty th than previous th is empty:
                    &:empty+th:not(:empty) {
                        border-left: 0.06125em solid $primary-color;
                    } */

                    // Selecting previous empty th:
                    /* &:empty:has(+th:not(:empty)) {
                        border-right: 0.06125em solid $primary-color;
                    } */
                }

                &:first-child {
                    border-top: none;

                    th:first-child {
                        border-top-left-radius: $border-radius;
                    }

                    th:last-child{
                        border-top-right-radius: $border-radius;
                    }
                }
            }

            &:has(tr:nth-child(2)) {
                tr:first-child th:last-child {
                    border-right: none;
                }
            }
        }

        th, td {
            padding: 0.25em 0.5em;
        }

        tbody {
            tr {
                &:nth-child(2n+1) {
                    background-color: rgba($primary-layout, 0.06125);
                }

                &:hover {
                    background-color: $secondary-layout;
                    color: $primary-color;
                }

                td {
                    border-right: 0.06125em solid rgba($primary-layout, 0.125);

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}