@import '@/assets/scss/vars.module.scss';

.AsideNavbar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 0.5rem;
    width: 14rem;
    height: 100%;
    padding: 0.75rem;
    color: $primary-color;
    background-color: $primary-layout;
    transition-duration: 1s;

    *[class~="Navbar__header"] {
        width: 100%;
        transition-duration: inherit;
        flex-shrink: 0;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 0.25rem;
        gap: 1rem;
        overflow: hidden;

        *[class~="Navbar__header__logo"] {
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            object-position: center;
        }

        *[class~="Navbar__header__text"] {
            transition-duration: inherit;
            width: 100%;
            max-height: 3rem;
            line-height: normal;

            *[class~="Navbar__header__text__title"] {
                font-size: 1.5rem;
                color: $secondary-layout;
            }

            *[class~="Navbar__header__text__subtitle"] {
                font-size: 0.5rem;
            }
        }
    }

    ul[class~="Navbar__menu"] {
        height: 100%;
        color: rgba($primary-color, 0.75);
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0.5rem;
            // background-color: rgba(#FFFFFF, 0.125);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0.5rem;
            border: 3px solid transparent;
            background-clip: content-box;
            background-color: rgba($secondary-layout, 0.5);
        }
    }

    footer[class~="Navbar__footer"] {
        color: rgba($primary-color, 0.75);

        & > button {
            display: flex;
            padding: 0.25rem;
            transition: 0.25s;

            & > svg {
                flex-shrink: 0;
                transition: height, width 1s;
            }

            & > p {
                text-align: left;
                width: 100%;
                max-height: 1.4rem;
                transition: width 1s;
                overflow: hidden;
            }

            &:hover {
                color: $primary-color;
                filter: drop-shadow(0 0 0.25rem black);
            }
        }
    }

    button[class~="Navbar__aspect-button"] {
        color: $primary-color;
        background-color: $primary-layout;
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: opacity;
        transition-delay: 0.5s;
    }

    &:hover button[class~="Navbar__aspect-button"]{
        opacity: 1;
        // transition-delay: 0.5s;
    }

    &[class~="contracted"] {
        width: 5.5rem;

        footer[class~="Navbar__footer"] {
            color: rgba($primary-color, 0.75);

            & > button {
                justify-content: center;

                & > svg {
                    width: 1.5rem;
                    height: 1.5rem;
                }

                & > p {
                    width: 0%;
                }
            }
        }
    }
}